node_modules/
.expo/
dist/
web-build/

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Native
*.orig.*

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Env
.env
.env.local
.env.*.local

# EAS
*.jks
*.p8
*.p12
*.key
*.mobileprovision
